# Core
django
python-dotenv
str2bool
python-decouple
dj-database-url

# UI & Admin UI
django-jazzmin
django-admin-material-dashboard

# Tools
django-debug-toolbar
djangorestframework
requests
pandas
graphviz
astor
numpy
pandas
scikit-learn
tensorflow
prophet
openpyxl
geopandas
matplotlib
seaborn
plotly
statsmodels
pmdarima
psycopg2-binary
django-widget-tweaks

# AI
anthropic

# Deployment
whitenoise
gunicorn

# DB
#psycopg2-binary==2.9.9
#mysqlclient==2.1.1
django-dbbackup
