{% extends "layouts/base.html" %}
{% block title %} Confirmar Exclusão das Preferências {% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-danger shadow-danger border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Confirmar Exclusão das Preferências</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="p-4">
                        <p>Tem certeza de que deseja excluir suas preferências de usuário para <strong>{{ object.user.username }}</strong>?</p>
                        <p class="text-danger">Esta ação irá remover suas configurações personalizadas (como frequência de notificações) e poderá exigir que você as configure novamente. Você pode considerar simplesmente editá-las.</p>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Sim, Excluir</button>
                            <a href="{% url 'user_preferences_detail' %}" class="btn btn-secondary">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}